
$main_one: #163E6c;
$main_two:#D20A11;
$backgraound_color:#EBE6D6;
$main_font_color:#3d3d3d;

@font-face {
    font-family: PT-Astra-Sans_Bold-Italic;
    src: url(../fonts/PT-Astra-Sans_Bold-Italic.ttf);
  }

@font-face {
    font-family: PT-Astra-Sans_Bold;
    src: url(../fonts/PT-Astra-Sans_Bold.ttf);
}

@font-face {
    font-family: PT-Astra-Sans_Italic;
    src: url(../fonts/PT-Astra-Sans_Italic.ttf);
}

@font-face {
    font-family: PT-Astra-Sans_Regular;
    src: url(../fonts/PT-Astra-Sans_Regular.ttf);
}

h1{
    font-family:PT-Astra-Sans_Bold;

}

 
body{
    font-family: PT-Astra-Sans_Italic;
    color: $main_font_color;
    background-color: white;
    margin: 0;
    padding: 0;
    
}


p{
    font-family: PT-Astra-Sans_Regular;
    color: $main_font_color;
}


.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2vw;
        padding: 0vh 1vw;
        width: 12vw;
        height: 5vh;
    }

    p{
        font-weight: 600;
        font-size: larger;
        font-family: PT-Astra-Sans_Italic;
    }

  
    div:hover{
        background-color: $main_two;  
        p{
            color:white;
        }
    
    }

}

.content{
    padding: 0 1vw;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
}

a{
    color: $main_one;
    font-size: 2vw;
    font-family: PT-Astra-Sans_Bold;
}

a:link{
    text-transform: none;
    text-decoration: none;
  
}

a:visited{
    text-transform: none;
    text-decoration: none;
    color:$main_two;
}

.login-container{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
    .login-button-container{
        padding: 1vw 0;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
    }

    
    input{
        border-radius: .5%;
        border: 1px solid $main_one;
    }

}
.login-container:hover{
    opacity: .8;
}

.main-link-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 4vh;
   
    a{
        height: 38.39px;
        background-color: $main_two;
        color: white;
        font-family: PT-Astra-Sans_Italic;
        position: absolute;
        
    }

    div{
        position: relative;
        height: 38.39px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
        
    }
    
   

    a:before {
        content:'';
        display:block;
        clear:both;
        width:0;
        height:0;
        border-left: 38.39px solid transparent;
        border-bottom: 38.39px solid $main_two;
        position:absolute;
        top:0;
        left:-38px;
    }
    a:after {
        content:'';
        display:block;
        clear:both;
        width:0;
        height:0;
        border-right:38.39px solid transparent;
        border-top:38.39px solid $main_two;
        position:absolute;
        top:0;
        right:-38px;
    }
    
    a:hover {
        opacity: .8;
    }

}

.filter-container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
   

    select{
        border-radius: .2%;
        margin: 2vh 1vw;
        font-weight: 400;
        font-family: PT-Astra-Sans_Italic;
        font-size: medium;
        border: 2px solid $main_one;
        padding-right: 2%;
    }
}

.update_item{
    a{
        font-size: small;
    }
    
}



@import './headers/header.scss';
@import './search/search.scss';
@import './content/content.scss';
@import './footer/foote.scss';
@import './button.scss'
