
$main_one: #163E6c;
$main_two:#D20A11;
$backgraound_color:#EBE6D6;
$main_font_color:#3d3d3d;

@font-face {
    font-family: PT-Astra-Sans_Bold-Italic;
    src: url(../fonts/PT-Astra-Sans_Bold-Italic.ttf);
  }

@font-face {
    font-family: PT-Astra-Sans_Bold;
    src: url(../fonts/PT-Astra-Sans_Bold.ttf);
}

@font-face {
    font-family: PT-Astra-Sans_Italic;
    src: url(../fonts/PT-Astra-Sans_Italic.ttf);
}

@font-face {
    font-family: PT-Astra-Sans_Regular;
    src: url(../fonts/PT-Astra-Sans_Regular.ttf);
}

h1{
    font-family:PT-Astra-Sans_Bold;

}


body{
    font-family: PT-Astra-Sans_Italic;
    color: $main_font_color;
    background-color: white;
    margin: 0;
    padding: 0;
    
}


p{
    font-family: PT-Astra-Sans_Regular;
   
    color: $main_font_color;
}


.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2vw;
        padding: 0vh 1vw;
        width: 12vw;
        height: 5vh;
    }

    p{
        font-weight: 600;
        font-size: larger;
        font-family: PT-Astra-Sans_Italic;
    }

  
    div:hover{
        background-color: $main_two;  
        p{
            color:white;
        }
    
    }

}

.content{
    margin: 0;
    padding: 0 1vw;
}

a{
    color: $main_one;
    font-size: 2vw;
    font-family: PT-Astra-Sans_Bold;
}

a:link{
    text-transform: none;
    text-decoration: none;
  
}

a:visited{
    text-transform: none;
    text-decoration: none;
    color:$main_two;
}

.serch-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

@import './headers/header.scss';
@import './footer/foote.scss';
@import './button.scss'
