{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css"/>
    <title>{% block title%}{% endblock  %}</title>
</head>
<body>
    <div class="content">

    <header class="header">
        <div class="header_row">    
            <div class="logo">
                <img src="{% static 'css/headers/logo.svg' %}" />
                <img src="{% static 'css/headers/logo_text.svg' %}" />
            </div>
            <div class="contact">
                <div> 
                    <p>+7-8352-20-12-09</p>
                </div>
                <div> 
                    <p> telegram </p>
                </div>
               
            </div>
            <nav>
                {% if not user.is_authenticated %}
                    <a href="{% url 'auth_app:login' %}">Авторизация</a>
                    {% else %}
                    <a href="{% url 'auth_app:logoff' %}?next={% url 'auth_app:login' %}">Выйти</a>  
                {%endif%}
            </nav>
        </div>
        <div class="header_text">
            <p>Электронная сервисная книжка "Мой Силант"</p>
        </div>
    </header>
    <main>
        <form method="get" >
            <div class="serch-container">
              <input type="text" name="q">
              <div class="button-search">
                  <button  class="button"  type="submit"> Нажми мну </button>
                  <span    class="span" > <img src="{% static 'css/headers/logo.svg' %}" /></span>
                </div>
            </div>
        </form>
        {% block content %}
        
        {% endblock   %}
    </main>
    <footer class="footer">
        <div class="contact">
            <p> +7-8352-20-12-09</p>
            <p> telegram </p>
        </div>
        <div class="title_footer">
            <p> Мой Силант 2022</p>
        </div>
    </footer>
   
</div>
</body>
</html>