{% extends 'root\base.html' %}
{% load static %}

{% block content %}
  <h2>Авторизация</h2>
<form method="post">
  {% csrf_token %}
  <div class="login-container">
    <p>
      <label for="id_username">Username:</label>
      <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">  
    </p>
    <p>
      <label for="id_password">Password:</label>
      <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
    </p>
    <div >
        <div class="login-button-container">
          <button  class="button"  type="submit"> Войти </button>
          <span    class="span" > <img src="{% static 'css/headers/logo.svg' %}" /></span>
        </div>
       </div>
    </div>
  </div>
</form>
{% endblock %}